@font-face {
    font-family: 'koliko';
    src: url('Webfont/koliko-regular.eot'); /* IE9 Compat Modes */
    src: url('Webfont/koliko-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('Webfont/koliko-regular.woff2') format('woff2'), /* Modern Browsers */
        url('Webfont/koliko-regular.woff') format('woff'), /* Modern Browsers */
        url('Webfont/koliko-regular.ttf') format('truetype'), /* Safari, Android, iOS */
        url('Webfont/koliko-regular.svg') format('svg'); /* Legacy iOS */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'koliko-bold';
    src: url('Webfont/koliko-Bold.eot'); /* IE9 Compat Modes */
    src: url('Webfont/koliko-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('Webfont/koliko-Bold.woff2') format('woff2'), /* Modern Browsers */
        url('Webfont/koliko-Bold.woff') format('woff'), /* Modern Browsers */
        url('Webfont/koliko-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
        url('Webfont/koliko-Bold.svg') format('svg'); /* Legacy iOS */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'koliko-light';
    src: url('Webfont/koliko-Light.eot'); /* IE9 Compat Modes */
    src: url('Webfont/koliko-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('Webfont/koliko-Light.woff2') format('woff2'), /* Modern Browsers */
        url('Webfont/koliko-Light.woff') format('woff'), /* Modern Browsers */
        url('Webfont/koliko-Light.ttf') format('truetype'), /* Safari, Android, iOS */
        url('Webfont/koliko-Light.svg') format('svg'); /* Legacy iOS */
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
	font-family: 'koliko';
}

header{
	position: relative;
}

#slogan{
	font-family: 'futura';
	color: #6c6d6d;
	position: absolute;
	font-size: 0.75rem;
	top: 5rem;
	left: 50%;
}
#logo {
       width: 20rem;
}
header img{
	width: 20rem;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

header nav{
	margin: 1rem auto;
	width: 45%;
	display: flex;
	justify-content: space-between;
}

header nav a{
	margin: 0.25rem 0.5rem;
	text-decoration: none;
	color: #6c6d6d;
	transition-duration: 0.5s;
}

header nav a:hover{
	margin: 0;
	padding: 0.25rem 0.5rem;
	background-color: #6c6d6d;
	color: white;
}

.headeractive{
	margin:0;
	padding: 0.25rem 0.5rem;
	background-color: #6c6d6d;
	color: white;
}

.text-hide{
	font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

#login{
	position: absolute;
	top: 0;
	right: 1rem;
}

#account{
	display: inline-block;
	width: 45px;
	height: 47px;
	background: url("../Images/person (1).png");
	background-position: 0 0;
	background-size: 3rem;
}

#account:hover{
	background: url("../Images/person.png");
	background-position: 0 0;
	background-size: 3rem;
}

#connection{
	display: none;
}

#langue{
	position: absolute;
	width: 2rem;
	top: 1.5rem;
	right: 4rem;
}

#flaglangue{
	width: 100%;
}

#banner-salon{
	overflow: hidden;
	height: 500px;
	position: relative;
}

#img-banner-salon{
	margin-top: -13rem;
	width: 100%;
}

#text-banner-salon{
	position: absolute;
	display: flex;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	justify-content: center;
	align-items: center;
	color: #6c6d6d;
	font-size: 7rem;
	-webkit-text-stroke: 2px;
	-webkit-text-stroke-color: #e5cdce;
}

#banner{
	display: flex;
	position: relative;
}

.slide{
	margin-right: auto;
	margin-left: auto;
	width: 100%;
	height: 500px;
	overflow: hidden;
}

#slideselect{
	position: absolute;
	bottom: 0;
	text-align: center;
	width: 100%;
}

#slide2, #slide3, #slide4{
	display: none;
}

#slide1>img{
	margin-top: -14rem;
	width: 100%;
}

#slide2>img{
	margin-top: -7rem;
	width: 100%;
}

#slide3>img{
	margin-top: -55rem;
	width: 100%;
}

#slide4>img{
	margin-top: -20rem;
	width: 100%;
}

.bouton-slide{
	position: absolute;
	top: 50%;
	width: 1.5rem;
	height: 2rem;
	background-color: rgba(160,160,160,0.75);
	border: none;
}

#slideprec{
	left: 0;
}

#slidesuiv{
	right: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.text h1 {
    background-color: #cda9a1;
    color: #6c6d6d;
    padding: 2rem 0;
	margin-top: -2rem;
	margin-bottom: 2rem;
}
.text h2 {
    background-color: #cda9a1;
    color: #6c6d6d;
    padding: 2rem 0;
	margin-top: -2rem;
	margin-bottom: 2rem;
}
.text{
	padding: 2rem 0;
	font-size: 1.5rem;
	background-color: #6c6d6d;

}

.paragraph{
	font-family: 'koliko-light';
	font-weight: bold;
	letter-spacing: 0.1rem;
	text-align: center;
	color: white;
}

.paragraph a{
	color: #D7B3B5;
	text-decoration: none;
}

.galerie-salon>.titre-infos{
	padding-bottom: 0;
}

.titre-infos{
	font-family: 'futura';
	font-weight: lighter;
	color: #E2CDC8;
	text-shadow: -0.1rem 0 0.1rem black;
	text-align: center;
	font-size: 4rem;
	padding: 5%;
}
.para-infos {
    font-family: 'futura';
     font-weight: lighter;
    font-size: 1.3rem;
    text-align: center;
    margin-left: 700px;
    width: 500px;
}

.liste-salon{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.lien-influ{
	position: relative;
	margin: 2%;
	width: 20%;
	height: 14rem;
	overflow: hidden;
}

.influ-hover{
	position: absolute;
	background-color: rgba(140,104,105,0.50);
	overflow: hidden;
	top: 50%;
	left: 50%;
	text-align: center;
	width: 0;
	height: 0;
	transition-duration: 0.4s;
}

.lien-influ:hover > div >.influ-hover{
	top: 7.5%;
	left: 7.5%;
	width: 85%;
	height: 85%;
}

.influ-hover>span{
	color: white;
	position: absolute;
	text-align: center;
	top: 100%;
	left: 0;
	right: 0;
}

.lien-influ:hover > div > .influ-hover > span{
	top: 45%;
}

.lien-influ:nth-child(2)>.img-influ>img{
	width: 150%;
	margin-left: -4rem;
}

.img-influ>img{
	width: 100%;
}

.lien-part{
	position: relative;
	margin: 1%;
	width: 30%;
	height: 14rem;
	overflow: hidden;
}

.img-part{
	height: 100%;
	width: 100%;
	display: flex;
}

.img-part>img{
	width: 100%;
	margin: auto;
}

.lien-part:nth-child(4)>div>img, .lien-part:nth-child(6)>div>img{
	width: auto;
	height: 100%;
	margin: auto;
}

#communication{
	text-align: center;
	margin-bottom: 5rem;
}

.button{
	text-align: center;
	width: 15%;
	display: block;
	margin: 0.5rem auto;
	height: 2rem;
	background-color: #E2CDC8;
	border: solid 1.5px lightgray;
}

#infopresse{
	display: none;
}

#dossierpresse{
	display: flex;
	margin: 1rem auto;
	width: 80%;
}

#dossierpresse>a:first-child{
	width: 65%;
}

#dossierpresse>a:nth-child(2){
	width: 35%;
}

#dossierpresse>a>img{
	width: 100%;
	display: block;
	margin: 1rem auto;
}

#dossierpresse>a .nom-fichier{
	position: absolute;
	top: 100%;
	color: white;
	left: 0;
	right: 0;
	text-align: center;
	font-size: 2rem;
	transition-duration: 0.5s;
}

#dossierpresse>a{
	position: relative;
	overflow: hidden;
}

#dossierpresse>a:hover .nom-fichier{
	top: 45%;
}

.fichier-hover{
	position: absolute;
	background-color: rgba(140,104,105,0.50);
	overflow: hidden;
	top: 50%;
	left: 50%;
	text-align: center;
	width: 0;
	height: 0;
	transition-duration: 0.4s;
}

#dossierpresse>a:hover>.fichier-hover{
	top: 7.5%;
	left: 7.5%;
	width: 85%;
	height: 85%;
}

#plan{
	display: block;
	margin: 1rem auto;
	text-align: center;
	width: 90%;
}

#img-plan{
	width: 60%;
}

#planacces{
   margin-bottom: 20px;
	display: flex;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}

#planacces a:first-child{
	width: 66%;
}

#planacces a:nth-child(2){
	width: 34%;
}

#planacces a>img{
    position: relative;
	width: 100%;
    filter: blur(0px);
-webkit-filter: blur(0px);
}

#planacces a>img:hover {
    transition:filter .5s;
filter: blur(4px);
-webkit-filter: blur(4px);
}

#hebergement{
	font-family: 'koliko-light';
	font-weight: bold;
	letter-spacing: 0.1rem;
	text-align: center;
	font-size: 1.5rem;
	margin: 2rem auto;
}

#hebergement>h1, #hebergement>h2{
	color: #cda9a1;
}

#liste-heberge{
	display: flex;
	flex-wrap: wrap;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.lien-heberge{
	width: 50%;
}

.lien-heberge:first-child>div{
	width: 30%;
}

.lien-heberge>div{
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

.lien-heberge>div>img{
	width: 100%;
}

.text-contact {
	font-family: "koliko-light";
	font-weight: bold;
	text-align: center;
	font-size: 2.5rem;
    background-color: #cda9a1;
    color: #6c6d6d;
    padding: 2rem 0;
}

.form-contact{
	font-family: "koliko-light";
	font-weight: bold;	
	margin: 1rem auto;
	font-size: 1.25rem;
	letter-spacing: 0.2rem;
}

.form-contact input[type="text"],.form-contact input[type="email"],.form-contact input[type="tel"]{
	width: 15rem;
}

form>legend{
	font-family: "koliko-light";
	font-weight: bold;
	color: #cda9a1;
	margin: auto;
	text-align: center;
	border: solid 2px lightgray;
	width : 15rem;
	height: 2rem;
	font-size: 1.25rem;
	letter-spacing: 0.2rem;
}

.contact-button{
	margin: 0.5rem auto;
	width: 10%;
}

.contact-button>input{
	width: 100%;
	height: 2rem;
	background-color: #E2CDC8;
	border: solid 1.5px lightgray;
}

#contact-presse{
	display: none;
}

.envoi-contact{
	width: 100%;
	height: 2rem;
	background-color: #E2CDC8;
	border: solid 1.5px lightgray;
}

#reservation{
	display: none;
	margin: 1rem auto;
	width: 90%;
}

.moyen-paiement{
	margin: 0.5rem auto;
	padding: 1rem;
	border: solid 1px black;
}

.infoacheteur{
	display: flex;
	flex-wrap: wrap;
	/*width: 80%*/
}

.infoacheteur>span{
	width: 50%;
}

.infoacheteur>span>input{
	width: 90%;
	height: 2rem;
}

.cartes{
	display: flex;
	width: 10%;
}

.cartes>img{
	width: 60%;
}

#cartebancaire{
	display: flex;
	flex-wrap: wrap;
	/*width: 80%;*/
}

#cartebancaire>span:first-child{
	width: 60%;
}

#cartebancaire>span:first-child>input{
	width: 75%;
}

#cartebancaire>span{
	width: 50%;
}

#cartebancaire>span>input{
	width: 90%;
	height: 2rem;
}

#typecarte{
	display: flex;
}

#infocart,#infopaypal,#infovir{
	display: none;
}

#redirectpaypal{
	display: inline-block;
	width: 15rem;
	height: 4rem;
	background-image: url("../Images/paypal.png");
	background-size: 15rem;
}

.payer{
	width: 10%;
	margin: 0.5rem auto;
}

.button-payer{
	width: 100%;
	height: 2rem;
	background-color: #E2CDC8;
	border: solid 1.5px lightgray;
}

.form-reserv{
	font-family: "koliko-light";
	font-weight: bold;
	margin: 0.5rem auto;
}

.form-reserv input{
	width: 3rem;
	height: 2rem;
}

#info-paiement{
	display: none;
	font-family: "koliko-light";
	font-weight: bold;
	font-size: 2rem;
	text-align: center;
}

.caracterespeciaux{
	font-family: "futura";
}

#conditions{
	font-family: "koliko-light";
	font-weight: bold;
	text-align: right;
	margin-right: 1rem;
	font-size: 0.7rem;
}

#table-reserv{
	margin: 1rem auto;
}

#table-reserv th{
	font-family: "koliko";
	letter-spacing: 0.1rem;
}

#apres-paiement{
	display: none;
	font-family: "koliko-light";
	font-weight: bold;
	color: #6c6d6d;
	letter-spacing: 0.1rem;
	margin: 5rem auto;
	text-align: center;
}

footer{
	margin-bottom: 0;
	background-color: black;
	padding: 2rem;
	text-align: center;
}

#footer-social > a{
	margin: 0.15rem;
	display: inline-block;
	width: 45px;
	height: 45px;
	background: url("../Images/socials.png");
	background-size: 20rem;
}

#footer-social > #fb{
	background-position: -0.2rem -0.3rem;
}

#footer-social > #fb:hover{
	background-position: -0.2rem -3.45rem;
}

#footer-social > #twitter{
	background-position: -4.3rem -0.3rem;
}

#footer-social > #twitter:hover{
	background-position: -4.3rem -3.45rem;
}

#footer-social > #yt{
	background-position: -8.4rem -0.3rem;
}

#footer-social > #yt:hover{
	background-position: -8.5rem -3.45rem;
}

#footer-social > #insta{
	background-position: -12.6rem -0.3rem;
}

#footer-social > #insta:hover{
	background-position: -12.6rem -3.45rem;
}

#agence{
	margin: 0.15rem;
	display: inline-block;
	width: 180px;
	height: 30px;
	background: url("../Images/pixelb.png");
	background-repeat: no-repeat;
	background-position: 0.45rem 0;
	background-size: 10rem;
}

#agence:hover{
	background: url("../Images/pixeln.png");
	background-repeat: no-repeat;
	background-position: 0.45rem 0;
	background-size: 10rem;
	background-color: white;
	border-radius: 10% / 50%;
}

#mentions{
	font-family: "koliko-light";
	font-weight: bold;
	color: lightgray;
}

 @media screen and (max-width:500px) {
	 
	 #logo{
		 width: 40%;
	 }
	 
	 header nav{
		 width: 100%;
	 }
	 header nav a{
		 font-size: 0.6rem;
	 }
	 #login{
		 display: none;
	 }
	 #langue{
		 display: none;
	 }
	 .slide{
		 height: 10rem;
	 }
	 #slide1>img{
		 margin-top: -1rem;
		 width: 100%;
	 }

	 #slide2>img{
		 margin-top: -1rem;
		 width: 100%;
	 }

	 #slide3>img{
		 margin-top: -11rem;
		 width: 100%;
	 }

	 #slide4>img{
		 margin-top: -4rem;
		 width: 100%;
	 }
	 .bouton-slide{
		 height: 1.5rem;
		 width: 1rem;
		 top: 45%;
	 }
	 .dot{
		 height: 0.5rem;
		 width: 0.5rem;
	 }
	 
	 .text{
		 font-size: 0.8rem;
	 }
	 #banner-salon{
		 overflow: hidden;
		 height: 10rem;
		 position: relative;
	 }
	 #img-banner-salon{
		 margin-top: -2rem;
		 width: 100%;
	 }
	 #text-banner-salon{
		 font-size: 2rem;
		 -webkit-text-stroke: 0.5px;
		 -webkit-text-stroke-color: #e5cdce;
	 }
	 .titre-infos{
		 font-size: 1.4rem;
		 font-family: "futura";
		 font-weight: bold;
		 text-shadow: 0.5px 0.5px 0 black;
		 width: 100%;
	 }
	 .liste-salon{
		 width: 100%;
	 }
	 .lien-influ{
		 margin: 1%;
		 width: 21%;
		 height: 4.5rem;
	 }
	 .influ-hover>span{
		 font-size: 0.5rem;
	 }
	 .lien-influ:nth-child(2)>.img-influ>img{
		 width: 150%;
		 margin-left: -1.5rem;
	 }
	 .lien-part{
		 position: relative;
		 width: 25%;
		 height: 5rem;
	 }
	 #communication>iframe{
		 width: 80%;
		 height: 10rem;
	 }
	 #communication{
		 margin: 0.1rem auto;
	 }
	 #plan{
		 margin: 0.2rem auto;
	 }
	 #dossierpresse>a .nom-fichier{
		 font-size: 1.5rem;
	 }
	 .button{
		 width: 9.5rem;
		 height: 1.5rem;
	 }
	 #planacces{
		 width: 100%;
	 }
	 .text{
		 padding-top: 1rem;
		 padding-bottom: 1rem;
	 }
	 .text h1{
		 padding-top: 1rem;
		 padding-bottom: 1rem;
	 }
	 .text h2{
		 padding-top: 1rem;
		 padding-bottom: 1rem;
	 }
	 #paraindex>h2{
		 padding-top: 2rem;
		 margin-bottom: 1rem;
	 }
	 #hebergement{
		 font-size: 0.8rem;
	 }
	 .contact-button{
		 width: 30%;
	 }
	 .form-contact{
		 font-size: 0.8rem;
	 }
	 .infoacheteur{
		 display: block;
	 }
	 #cartebancaire{
		 display: block;
	 }
	 .cartes img{
		 width: 100%;
	 }
	 .cartes{
		 margin: 0.6rem;
	 }
	 .payer{
		 width: 20%;
	 }
	 footer{
		 margin-bottom: 0;
		 background-color: black;
		 padding: 1rem;
		 text-align: center;
	 }
	 #footer-social > a{
		 width: 2rem;
		 height: 2rem;
		 background-size: 15rem;
	 }
	 #footer-social > #fb{
		 background-position: -0.2rem -0.3rem;
	 }
	 #footer-social > #fb:hover{
		 background-position: -0.2rem -2.65rem;
	 }
	 #footer-social > #twitter{
		 background-position: -3.3rem -0.3rem;
	 }
	 #footer-social > #twitter:hover{
		 background-position: -3.3rem -2.65rem;
	 }
	 #footer-social > #yt{
		 background-position: -6.4rem -0.3rem;
	 }
	 #footer-social > #yt:hover{
		 background-position: -6.4rem -2.65rem;
	 }
	 #footer-social > #insta{
		 background-position: -9.5rem -0.3rem;
	 }
	 #footer-social > #insta:hover{
		 background-position: -9.5rem -2.65rem;
	 }
	 #agence{
		 margin: 0.15rem;
		 display: inline-block;
		 width: 6rem;
		 height: 1rem;
		 background: url("../Images/pixelb.png");
		 background-repeat: no-repeat;
		 background-position: 0.45rem 0;
		 background-size: 5rem;
	 }
	 #agence:hover{
		 background: url("../Images/pixeln.png");
		 background-repeat: no-repeat;
		 background-position: 0.45rem 0;
		 background-size: 5rem;
		 background-color: white;
		 border-radius: 10% / 50%;
	 }
	 #mentions{
		 font-size: 0.5rem;
	 }
}